<?xml version="1.0"?>
<config>
    <modules>
        <Limitlex_ForumPay>
            <version>1.0.0</version>
        </Limitlex_ForumPay>
    </modules>
    <frontend>
        <routers>
            <forumpay>
                <use>standard</use>
                <args>
                    <module>Limitlex_ForumPay</module>
                    <frontName>forumpay</frontName>
                </args>
            </forumpay>
        </routers>
        <layout>
            <updates>
                <forumpay>
                    <file>forumpay.xml</file>
                </forumpay>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<forumpay>
				<use>admin</use>
				<args>
					<module>Limitlex_ForumPay</module>
					<frontName>forumpay</frontName>
				</args>
			</forumpay>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Limitlex_ForumPay>
							<title>ForumPay Module</title>
							<sort_order>10</sort_order>
						</Limitlex_ForumPay>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<forumpay>
					<file>forumpay.xml</file>
				</forumpay>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <crypto_currency>
                    <to_order_payment>*</to_order_payment>
                </crypto_currency>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <forumpay>
                <class>Limitlex_ForumPay_Model</class>
                <resourceModel>forumpay_mysql4</resourceModel>
            </forumpay>
            <forumpay_mysql4>
                <class>Limitlex_ForumPay_Model_Mysql4</class>
                <entities>
                    <forumpay>
                        <table>forumpay</table>
                    </forumpay>
                </entities>
            </forumpay_mysql4>
        </models>
        <resources>
            <forumpay_setup>
                <setup>
                    <module>Limitlex_ForumPay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </forumpay_setup>
            <forumpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </forumpay_write>
            <forumpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </forumpay_read>
        </resources>
        <blocks>
            <forumpay>
                <class>Limitlex_ForumPay_Block</class>
            </forumpay>
        </blocks>
        <helpers>
            <forumpay>
                <class>Limitlex_ForumPay_Helper</class>
            </forumpay>
        </helpers>
    </global>
     <!-- Start for payment -->
	<default>
		<payment>
			<forumpay>
				<model>forumpay/standard</model>
                <active>0</active>
                <live_mode>1</live_mode>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <title>ForumPay</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <shop_id>mage-1</shop_id>
                <sort_order>10</sort_order>
			</forumpay>
		</payment>
	</default>
	
	<!-- End for payment -->
</config>
